.edit-fields {
  line-height: 1.75rem;
  outline: none !important;
  border-radius: 4px;
  font-size: 1.125rem;
  color: #536f94 !important;
  border-width: 1px;
  padding: 8px 12px;
  background-color: #ffffff;
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
}
@media screen and (min-width:1024px) {
  .edit-fields {
    min-width: 365px;
  }
}

@media screen and (max-width:768px) {
  .edit-fields {
    min-width: 225px;
  }
}

@media screen and (max-width:425px) {
  .edit-fields {
    min-width: 250px;
  }
}

@media screen and (max-width:326px) {
  .edit-fields {
    min-width: 200px !important;
  }
}

@media screen and (max-width:325px) {
  .edit-fields {
    min-width: 200px;
  }
}
.password-fields {
  line-height: 1.75rem;
  outline: none !important;
  border-radius: 4px;
  font-size: 1.125rem;
  color: #536f94 !important;
  border-width: 1px;
  padding: 8px 12px;
  background-color: #ffffff;
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
}
@media screen and (min-width:1024px) {
  .password-fields {
    min-width: 350px;
  }
}

@media screen and (max-width:768px) {
  .password-fields {
    min-width: 210px;
  }
}

@media screen and (max-width:425px) {
  .password-fields {
    width: 250px !important;
  }
}

@media screen and (max-width:325px) {
  .password-fields {
    width: 200px !important;
  }
}