.login-fields {
  width:380px;
  line-height: 2.2;
  outline: none;
  border-radius: 4px;
  border: 0.2px solid rgb(189, 186, 186);
}

@media screen and (max-width:768px) {
  .login-fields  {
    width: 300px;
  }
}

@media screen and (max-width:320px) {
  .login-fields  {
    width: 250px;
  }
}

.eye {
  padding: 11px;
  border: 0.2px solid rgb(192, 182, 182);
  border-left: none;
  margin-right: -27px;
}

.login-fields::placeholder {
  color: rgb(170, 163, 163);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
