.login-fields {
  width:380px;
  line-height: 3;
  outline: none;
  border-radius: 4px;
  border: 0.2px solid rgb(189, 186, 186);
}

.login-p-fields {
  min-width:380px !important;
  line-height: 3;
  outline: none;
  border-radius: 4px;
  border: 0.2px solid rgb(180, 173, 173);
  margin-right: -35px;
}

@media screen and (max-width:768px) {
  .login-fields  {
    width: 300px;
  }
  .login-p-fields {
    min-width: 300px !important;
  }
}

@media screen and (max-width:320px) {
  .login-fields  {
    width: 250px;
  }
  .login-p-fields {
    min-width: 250px !important;
  }
}