@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova") url("./Assets/Font/Proxima Nova Bold.otf")
    format(truetype);
}

* {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova", sans-serif;
}

.login-fields {
  width: 380px;
  line-height: 1.75rem;
  outline: none !important;
  border-radius: 4px;
  font-size: 1.125rem;
  color: #536f94 !important;
  border-width: 1px;
  padding: 8px 12px;
  background-color: #ffffff;
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
}

@media screen and (max-width: 768px) {
  .login-fields {
    width: 400px;
  }
  .registrationFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label {
    font-size: 10px;
    color: #5183ce;
    margin-left: 5px;
    font-family: "Poppins", sans-serif !important;
  }
}

@media screen and (max-width: 425px) {
  .login-fields {
    width: 280px;
  }
}

.eye {
  border: none;
  margin-left: -35px;
  background-color: transparent !important;
}

.eyeToTheLeft {
  margin-left: -60px;
  background-color: white;
  border: none;
}

.login-fields::placeholder {
  color: #8399b8;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif !important;
}

.form-control:active,
.form-control:focus {
  border: 2.5px solid rgb(108, 95, 253);
  outline: none;
  box-shadow: none !important;
}

.primary-button {
  background-color: rgb(124 112 255 / 1);
  line-height: 2.75rem;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  border: none;
  font-size: 1.125rem;
  width: 100%;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.register-button {
  background-color: #aa4444;
  color: white;
  width: 100%;
  font-weight: 700;
  border: none;
  line-height: 2.75rem;
  font-size: 1.125rem;
  border-radius: 4px;
}

.hoverParent {
  min-height: 8rem;
  max-height: 10rem;
}

.primary-button:hover {
  margin-top: -1px;
  margin-bottom: 21px;
}

.register-button:hover {
  margin-top: -1px;
  margin-bottom: 5px;
}

.logo {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.label {
  font-size: 1rem;
  color: #4e7cc2;
  margin-left: 10px;
  opacity: 80;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}

.register-fields {
  width: 100%;
  line-height: 1.75rem;
  outline: none !important;
  border-radius: 4px;
  font-size: 1.125rem;
  color: #536f94 !important;
  border-width: 1px;
  padding: 8px 12px;
  background-color: #ffffff;
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
}

.register-fields::placeholder {
  color: #7891b4;
  font-size: 1rem;
  font-family: "Poppins", sans-serif !important;
  transform: scale(1, 1.1);
}

.registrationFormContainer {
  background-color: transparent;
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.tick {
  height: 1.125rem;
  width: 1.125rem;
  margin-right: 0.5rem;
}

.checkbox:focus {
  box-shadow: 1px 1px 1px rgba(blue);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media screen and (max-width: 768px) {
  .login-fields {
    width: 400px;
  }
  .registrationFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label {
    font-size: 10px;
    color: #5183ce;
    margin-left: 5px;
    font-family: "Poppins", sans-serif !important;
  }
}

@media screen and (max-width: 425px) {
  .login-fields {
    width: 280px;
  }
}

.date {
  cursor: pointer !important;
}